@media screen and (max-width:768px) {
  /* Header */
  .header__content {
    max-width: 600px;
  }
  .header__list {
    gap: 25px;
  }
  label {
    display: none;
  }

  /* Main */
  .main__content {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    padding-top: 40px;
    gap: 47px;
  }
  .main__right {
    width: 346px;
  }
  .main__image {
    display: block;
    align-items: baseline;
  }
  .main__image img {
    width: 230px;
  }
  .main__title {
    font-size: 25px;
    line-height: 30px;
    padding-bottom: 30px;
  }
  .main__text {
    font-size: 14px;
    width: 300px;
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 30px;
  }
  .button {
    margin-bottom: 70px;
  }
  .gardeners__content {
    flex-direction: column;
  }
  /* Gardeners */
  .gardeners__content{
    max-width: 600px;
  }
  .gardeners__title {
    width: 360px;
    font-size: 25px;
    line-height: 35px;
    padding-bottom: 20px;
  }
  .gardeners__text {
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    padding: 0 40px;
  }
  .gardeners__content {
    gap: 40px;
  }
  .gardeners__item {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
  }
  .gardeners__image {
    padding: 0 0 95px 0;
  }
  .gardeners__image-vazon {
    width: 250px;
  }

  /* Service */
  .projects__content {
    max-width: 600px;
  }
  .projects__header {
    flex-direction: column;
    align-items: start;
    gap: 40px;
    padding-bottom: 40px;
  }
  .projects__gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 50px;
  }
  .button-project {
    margin-right: 10px;
  }

  /* Prices */
  .prices__content {
    max-width: 600px;
    margin-bottom: 88px;
  }
  .prices__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
  }
  .prices__title {
    padding-bottom: 50px;
    font-size: 25px;
  }
  .prices__right {
    padding-top: 100px;
  }
  .prices__title-right,
  .main__title-span  {
    width: 300px;
    font-size: 25px;
    line-height: 35px;
    padding-bottom: 22px;
  }
  .prices__choice {
    max-width: 250px;
    padding: 30px 20px;
  }
  .accordion {
    width: 200px;
  }
  .prices__choice-text {
    width: 120px;
  }
  .prices__choice-accordion {
    padding: 16px 16px 16px 20px;
    width: 200px;
  }
  .button-project {
    margin-right: 0;
  }
  .prices__image {
    padding-top: 34px;
  }

  /* Contac us */
  .contacts__content {
    max-width: 600px;
  }
  .contacts__image {
    text-align: center;
  }
  .contacts__image-woman {
    width: 200px;
    padding-top: 250px;
  }
  .contacts__box {
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  .contact__choice {
    margin: 0 auto;
  }

  /* Footer */
  .footer__content {
    max-width: 600px;
    flex-direction: column;
    align-items: center;
    padding: 33px 0 18px 0;
  }
}
/* ------------------------------------- */


@media screen and (max-width: 375px) {
   /* Header */
   .header {
    padding: 36px 0;
   }
   .header__menu {
    display: none;
   }
   .header__content {
    max-width: 350px;
  }

  /* todo-Burger-Menu */
  label {
    display: block;
  }
   
  /* Main */
  .main__content {
    padding-top: 0;
    max-width: 330px;
    gap: 0;
  }
  .main__right {

  }
  .main__image img {
    display: none;
  }
  .main__title {
    font-size: 25px;
    padding-bottom: 20px;
  }
  .main__text {
    font-size: 16px;
    padding-bottom: 20px;
  }
  .button {
    font-size: 10px;
    margin-bottom: 24px;
    padding: 8px 18px;
  }

  /* Gardeners */
  .gardeners__content {
  flex-direction: column;
  }
  .gardeners__title {
    font-size: 25px;
    padding-bottom: 0px;
  }
  .gardeners__text {
    padding: 0;
    font-size: 15px;
    text-align: justify;
    width: 330px;
    padding-top: 20px;
  }
  .gardeners__content {
    gap: 0;
  }
  .gardeners__item {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
  }
  .gardeners__image-vazon {
    width: 150px;
    padding-bottom: 30px;
  }
  .gardeners__image {
    padding: 0;
  }

  /* Service */
  .projects__content {
  }
  .projects__title {
    font-size: 25px;
    padding-bottom: 35px;
  }
  .projects__header {
    gap: 0;
  }
  .projects__gallery {
    grid-template-columns: repeat(1, 280px);
    grid-template-rows: repeat(6, 1fr);
    row-gap: 34px;
    padding-bottom: 27px;
    text-align: center;
    overflow: hidden;
    justify-content: center;
  }
  .button-project {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  /* Prices */
  .prices__content {
    margin-bottom: 40px;
    flex-direction: column;
  }
  .prices__choice {
  }
  .prices__title {
    text-align: center;
    font-size: 25px;
    padding-bottom: 40px;
  }
  .prices__choice-accordion {
    width: 180px;
    font-size: 15px;
    padding: 16px 30px;
  }
  .prices__item {
    text-align: center;
  }
  .prices__box {
    flex-direction: column;
  }
  .prices__right {
    padding-top: 20px;
  }
  .prices__title-right,
  .main__title-span  {
    font-size: 20px;
    padding-bottom: 14px;
    max-width: 230px;
    margin: 0 auto;
  }
  .prices__image {
    display: none;
  }

  /* Contac us */
  .contacts {
    padding-top: 25px;
  }
  .contacts__content {

  }
  .contacts__image {
    text-align: center;
  }
  .contacts__name {
    font-size: 25px;
  }
  .contacts__image-woman {
    width: 100px;
    padding-top: 132px;
  }
  .contacts__box {
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  .contact__choice {
    padding-top: 80px;
    margin: 0 auto;
  }
  .contact__choice-accordion {
    padding: 5px 119px 5px 20px;
  }
  .accordion__contact {
    width: 300px;
    height: 50px;
  }

  /* Footer */
  .footer__content {
    padding: 22px 0 7px 0;
  }
}
/* ----------------------------------- */