*{
  box-sizing: border-box;
}
/* ------------------------------------- */
body, html {
  font-family: 'Inter', sans-serif;
  height: 100%;
  width: 100%;
  color: #636060;
  font-weight: 400;
}
p {
  margin: 0;
}
h1, h2, h3, h4 {
  margin: 0;
  font-weight: 400;
}
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
button {
  border: none;
  background-color: transparent;
  color: #fff;
  padding: 0;
  cursor: pointer;
}
/* ------------------------------------- */
.wrapper {
  overflow: hidden;
}
.container {
  max-width: 1222px;
  margin: 0 auto;
  padding: 0 15px;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ------------------------------------- */
/* !Header */
/* ------------------------------------- */
.header {
  background: #EDF2EC;
  padding: 42px 0;
}
.header__list {
  gap: 46px;
}
.header__link {
  font-family: 'Inika';
  font-weight: 400;
  font-size: 16px;
  line-height: 50px;
  color: #010201;
}
.header__link:hover {
  color: #E06733;
  font-weight: 700;
}

/* todo-Burger menu */
label {
  display: none;
}
label .menu {
  position: absolute;
  right: -100px;
  top: -100px;
  z-index: 100;
  width: 200px;
  height: 200px;
  background: transparent;
  border-radius: 50% 50% 50% 50%;
  transition: .5s ease-in-out;
  box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
  cursor: pointer;
}
label .hamburger {
  position: absolute;
  top: 135px;
  left: 50px;
  width: 30px;
  height: 2px;
  background:  #499A18;
  ;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}
label .hamburger:after, label .hamburger:before {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background:  #499A18;
  ;
}
label .hamburger:before { top: -10px; }
label .hamburger:after { bottom: -10px; }
label input { display: none; }
label input:checked + .menu {
  box-shadow: 0 0 0 100vw #EDF2EC, 0 0 0 100vh #EDF2EC;
  border-radius: 0;
}
label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
}
label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}
label input:checked + .menu + ul { opacity: 1; }
label ul {
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: .25s 0s ease-in-out;
  transition: .25s 0s ease-in-out;
}
label a {
  margin-bottom: 1em;
  display: block;
  color:  #499A18;
  text-decoration: none;
}

/* ------------------------------------- */
/* !Main */
/* ------------------------------------- */
.main {
  background: #EDF2EC;
}
.main__content {
  gap: 210px;
}
.main__title {
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
  padding-bottom: 42px;
}
.main__title-span {
  color: #499A18;
}
.main__text {
  max-width: 525px;
  font-size: 20px;
  line-height: 35px;
  color: #636060;
  padding-bottom: 48px;
}
.button {
  display: inline-block;
  padding: 14px 27px;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  border: 3px solid #E06733;
  border-radius: 10px;
  margin-bottom: 94px;
}
.button:hover {
  background-color: #E06733;
  transition: border 0.5s ease 0s;
  color: #fff;
  transition: 0.3s;
}

/* ------------------------------------- */
/* !Gardeners */
/* ------------------------------------- */
.gardeners__content {
  gap: 150px;
}
.gardeners__title {
  max-width: 460px;
  font-family: 'Inika';
  font-size: 40px;
  line-height: 52px;
  color: #E06733;
  padding-bottom: 40px;
}
.gardeners__title-span {
  color: #499A18;
}
.gardeners__text {
  font-size: 20px;
  line-height: 30px;
  color: #636060;
}
.gardeners__image {
  padding: 94px 0;
}

/* ------------------------------------- */
/* !Projects */
/* ------------------------------------- */
.projects {
  background: #EDF2EC;
}
.projects__header {
  padding: 40px 0 90px;
  gap: 142px;
  display: flex;
  align-items: center;
}
.projects__title {
  max-width: 306px;
  font-family: 'Inika';
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
}
.button-project {
  display: inline-block;
  font-family: 'Inika';
  font-size: 20px;
  line-height: 26px;
  color: #E06733;
  padding: 12px 40px;
  border: 1px solid #E06733;
  border-radius: 5px;
  margin-right: 38px;
}
.button-project:hover {
  background-color: #E06733;
  transition: border 0.5s ease 0s;
  color: #fff;
  transition: 0.3s;
}
.projects__gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 116px;
  row-gap: 55px;
  padding-bottom: 120px;
}
.projects__gallery-item {
  border: 1px solid #E3E1D5;
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
}
.projects__gallery-item:hover {
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  cursor: pointer;
}
.projects__gallery-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #E06733;
  text-align: center;
  padding: 10px 0;
}
.projects__gallery-text {
  font-size: 16px;
  line-height: 20px;
  color: #717171;
  padding-bottom: 36px;
  text-align: center;
}

/* todo-Filter */
.projects__buttons {
}
.button-project {
}
.button_type-gardens {
  
}
.button_type-lawn {
}
.button_type-planting {
}

/* ------------------------------------- */
/* !Prices */
/* ------------------------------------- */
.prices__content {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 115px;
}
.prices__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 34%;
}
.prices__title {
  max-width: 452px;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  padding-bottom: 60px;
}
.prices__choice {
  display: flex;
  flex-direction: column;
  padding: 34px 41px;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
  gap: 32px;
}
/* Accordion */
.accordion {
  max-width: 750px;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 20px;
}
.prices__choice-accordion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  padding: 16px 54px 16px 40px;
  background: #EDF2EC;
  border-radius: 20px;
}
.prices__choice-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000;
}
.prices__choice-arrow {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #D9D9D9 url('../img/arrow.svg') no-repeat center;
  cursor: pointer;
}
.prices__choice-arrow-rotate {
  transform: rotate(180deg);
  transition: 300;
}
.accordion__content {
  display: none;
  padding: 0 40px 0 40px;
}
.prices__choice-text {
  width: 164px;
  font-weight: 300;
  font-size: 10px;
  line-height: 1;
  color: #717171;
  padding-bottom: 6px;
  border-top: 0.5px solid #AEA1A1;
  padding-top: 6px;
}
.prices__choice-time {
  font-size: 12px;
  line-height: 20px;
  padding-bottom: 12px;
  color: #000;
}
.prices__choice-sum {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #E06733;
  padding-bottom: 12px;
}
.prices__choice-btn {
  box-sizing: border-box;
  width: 86px;
  height: 25px;
  background: #FFFFFF;
  border-radius: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #717171;
  padding: 3px 20px;
  margin-bottom: 12px;
}
.change__color, .change__color-accordion {
  background-color: #D6E7D2;
  transition: 300;
}
.prices__right {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.prices__item {
}
.prices__title-right {
  width: 452px;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #000;
  padding-bottom: 38px;
}
.main__title-span {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #499A18;
}
.prices__image {
  padding-top: 38px;
}
/* ------------------------------------- */
/* !Contact */
/* ------------------------------------- */
.contacts {
  background: #EDF2EC;
  padding-top: 60px;
}
.contacts__content {
 
}
.contacts__box {
  display: flex;
  justify-content: space-between;
}
.contacts__title {
  text-align: center;
}
.contacts__name {
  font-family: 'Inika';
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
}
/* jQuery */
.contact__choice {
  padding-top: 96px;
}
.accordion__contact {
  background: #D6E7D2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
  width: 400px;
  height: 50px;
}
.contact__choice-accordion {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  padding: 5px 35px 5px 20px;
}
.contact__choice-title {
  width: 204px;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  color: #717171;
}
.contact__choice-arrow {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #D9D9D9 url('../img/arrow.svg') no-repeat center;
  cursor: pointer;
}
.contact__choice-arrow-rotate {
  transform: rotate(180deg);
  transition: 300;
}
/* Acordion */
.contacts__accordion {
  display: none;
  background: #DCE9D9;
  height: 250px;
  padding-bottom: 31px;
}
.contacts__input {
  margin: 27px 35px 0 35px;
  background: transparent;
  width: 330px;

  font-size: 16px;
  line-height: 40px;
  color: #717171;
  border: none;
  border-bottom: 1px solid #717171;
}
.contacts__city {
  display: flex;
  flex-direction: column;
  padding: 7px 0 12px 41px;
  width: 380px;
  font-size: 16px;
  line-height: 40px;
  color: #499A18;
}

/* ?Modal window contact us for city */
.contact__choice-content {
  display: none;
}
.contact__choice-data {
}
.modal__overlay-city-1,
.modal__overlay-city-2,
.modal__overlay-city-3,
.modal__overlay-city-4 {
  display: none;
  position: fixed;
  margin-bottom: 300px;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.modal__form-container {
  width: 448px;
  height: 230px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #EDF2EC;
  border: 1px solid #000000;
  border-radius: 20px;

  position: relative;
  display: flex;
  flex-direction: column;
}
.contact__choice-id {
  padding: 17px 76px 24px 35px;
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.contact__choice-btn {
  text-align: center;
}
.contact__choice-button {
  width: 122px;
  height: 26px;
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;
  color: #717171;
  padding: 7px 29px;
  border: 1px solid #E06733;
  border-radius: 5px;
  text-align: center;
}
.contact__choice-text {
  font-size: 16px;
  line-height: 40px;
  color: #717171;
}
.contact__change-color {
  background: #C1E698;
  border: 1px solid #D6E7D2;
  border-radius: 0px;
}
.contact__change-color-content {
  background: #DCE9D9;
}
.close {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

/* ------------------------------------- */
/* !Footer */
/* ------------------------------------- */
.footer__content {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}
.footer__left {
  display: flex;
  gap: 20px;
}
.footer__left a:hover {
  color: blue;
}
.footer__left,
.footer__title{
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #000000;
}
.footer__list {
  display: flex;
  gap: 20px;
  align-items: center;

}
.footer__item {
  display: inline-block;
  padding: 9px 0;
}
.footer__img {

}
.footer__img:hover {

}
/* ------------------------------------ */

/* ?Кнопка Вверх  */
#up {
  display: none;
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 30px;
  right: 30px;
  background-color: #5dc21e;
  border-radius: 50%;
  color: #FFFFFF;
  cursor: pointer;
}
#up:hover {
  background-color: #378706;
  transition: 1s ease-in-out;
}
#up span {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotate(-90deg) translate(50%, -50%);
}

/* ------------------------------------ */
